* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #f1f1f1;
}

/*header start*/
.NavBar {
  width: 100%;
  color: white;
  z-index: 1px;
}

.navbar {
  background: #00406c;
}
.dropdown-menu {
  background: #00406c;
}
.logo {
  font-size: 30px;
  color: white;
}
.btn {
  font-size: 20px;
  width: 110px;
  height: 42px;
  border-color: white;
  color: bisque;
}
.btn:hover {
  background: #168aad;
  border-color: white;
  color: black;
  transition: 0.9s;
}
#navbarSupportedContent a {
  color: rgb(252, 250, 250);
  margin: 10px;
}
#navbarSupportedContent a:hover {
  color: black;
}
/*header end*/

/*footer start*/
.footer {
  background: #00406c;
  line-height: 30px;
  margin-top: 380px;
}
.footer li {
  list-style: none;
}
.footer li a {
  line-height: 40px;
  text-decoration: none;
  color: white;
}
.footer li a:hover {
  color: orange;
}
.col-md-3 h4 {
  border-bottom: 1px solid white;
  padding: 5px;
}

/*footer end*/
/* registration page start*/
body .loginform{
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.loginform .container{
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: 130px;
  
}
.loginform h2 {
  text-align: center;
  margin-bottom: 20px;
}
.loginform label {
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}
.loginform input, .container select {
  width: 100%;
  padding: 8px;
  margin: 10px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.loginform input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
.loginform input[type="submit"]:hover {
  background-color: #45a049;
}
.loginform .error {
  color: red;
  margin-bottom: 10px;
}

/* registration page page end*/

/*log in page start*/


/*login page end*/



/*banner slider start*/



.carousel-item img{
  height: 95vh;
  width: 100%;
 
}
.carousel-caption{
  text-align: center;
  margin-bottom: 180px;
  z-index: 2;
}
.carousel-caption h1{
  font-size: 54px;
  letter-spacing: 4px;
  font-weight: 795;
  text-shadow: 1px 5px 5px rgb(220, 95, 18);
}
.carousel-caption h1:hover{
  text-shadow: 5px  4px 5px rgb(238, 48, 14);
  font-weight: 798;

}
.carousel-caption .h{
  width: 45%;
  margin: auto;

}
section{
  height: 95vh;
  width: 100%;

}
.story{
  background-image: url(https://themewagon.github.io/pato/images/icons/pattern2.png);
}
.story span {
  font-style:italic;
  font-size: 25px;
  letter-spacing: 1.5px;
  font-weight: 500;
 
}
.story h1{
  font-style:italic;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 3px;
 
}
.story .t-center{
  margin-left: 22%;
  margin-right: 20%;

}
.btn button{
  height: 50px;
  width: 150px;
  border: none;
  background-color: rgb(232, 104, 54);
  color: #fff;
  font-size: 18px;
  border-radius: 80px;
}
.btn button:hover{
  color: #dbd4d4c2;
  transition: 0.2s;
}
