* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #f1f1f1;
}

/*header start*/
.NavBar {
  width: 100%;
  color: white;
  z-index: 1px;
}

.navbar {
  background: rgba(220, 95, 18, 0.46);
}
.dropdown-menu {
  background:rgba(220, 95, 18, 0.46);
  
}
.dropdown li a {
  list-style: none;
  text-decoration: none;
  line-height: 49px;
  font-size: 18px;
}
.logo {
  font-size: 30px;
  color: white;
}
.login{
  width: 120px;
  background-color: rgba(232, 104, 54, 0.83);
  font-size: 18px;
  border-radius: 9px;
  height: 45px;
  border: none;
  color: white;
  outline: none;

}
.login:hover {
    border: 2px solid orange;
    transition: 0.8s;
    color: #f0efef;
}
#navbarSupportedContent a {
  color: rgb(252, 250, 250);
  margin: 10px;
}
#navbarSupportedContent a:hover {
   color: orange;
}
/*header end*/

/*footer start*/
.footer {
  background: rgba(232, 93, 10, 0.51);
  line-height: 30px;
  margin-top: 380px;
}
.footer li {
  list-style: none;
}
.footer li a {
  line-height: 40px;
  text-decoration: none;
  color: white;
}
.footer li a:hover {
  color:rgb(75, 75, 75);
}
.col-md-3 h4 {
  border-bottom: 1px solid white;
  padding: 5px;
}

/*footer end*/

/*banner slider start*/

.head{
  color: white; 
}

.carousel-item img {
  height: 100vh;
  width: 100%;
}
.head{
  color: white;
}
.carousel-caption{
  text-align: center;
  margin-bottom: 180px;
  z-index: 2;
}
.carousel-caption h1 {
  font-size: 54px;
  letter-spacing: 4px;
  font-weight: 795;
  text-shadow: 1px 5px 5px rgb(220, 95, 18);
}

.carousel-caption h1:hover{
  text-shadow: 5px  4px 5px rgb(239, 51, 18);
  font-weight: 798;
}
.carousel-caption .h {
  width: 40%;
  margin: auto;
  border-bottom: 6px solid rgb(241, 169, 26);
}
section {
  height: 95vh;
  width: 100%;
}
.story {
  background-image: url(https://themewagon.github.io/pato/images/icons/pattern2.png);
}
.story span {
  font-style: italic;
  font-size: 25px;
  letter-spacing: 1.5px;
  font-weight: 500;
}
.story h1 {
  font-style: italic;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 3px;
}
.story .t-center {
  margin-left: 22%;
  margin-right: 20%;
}
.bt button {
  height: 50px;
  width: 150px;
  border: none;
  background-color: rgb(232, 104, 54);
  color: #fff;
  font-size: 18px;
  border-radius: 80px;

  margin-left: -20px;
}
.bt button:hover {
  color: #dbd4d4c2;
  transition: 0.2s;
  outline: none;
  border: none;
}
/* registration_page start */
.loginform {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  height: 100vh;
  width: 100%;
}
.loginform .container {
  width: 40%;
  height: 80vh;
  background: #fff;
  margin-top: 3.5rem;
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.loginform h3 {
  text-align: center;
  /* background: linear-gradient(#808080, #3fada8); */
  font-family: arial;
  font-weight: bold;
  color: #333;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
#registrationForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto;
  width: 70%;
}

.formInput input {
  padding: 0.2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  width: 100%;
  border: 1px solid silver;
}
.register {
  padding: 0.5rem;
  font-size: 1.25rem;
  width: 120px;
  color: #fff;
  border-radius: 5px;
  border: none;
  background: #27a327;
  /* background: linear-gradient(#34e89e, #0f3443); */
  /* background: linear-gradient(#56ab2f, #a8e063); */

  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  margin: auto;
  font-size: 16px;
}
.register:hover {
  box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.3);
}
/* registration_page end */

/* menu list start*/
  
   .FoodList {
       margin-top: 100px;
       background: #e5db9f24;
       margin-top: 75px;
       box-shadow: ;
   }
